.footer{
    background-color: #b11d59;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    flex-direction: column;
}
.footer-img{
    width: 250px;
    position: absolute;
    top: -120px;
}
.footer .slogan{
    font-size: 40px;
    color: #ffffffe7;
    padding-top: 60px;
    margin: 50px 0;
    font-family: "Oswald", cursive;
}
.footer .text{
    color: #ffffffcc;
    width: 80%;
}
.footer .social-icon{
    margin: 30px 0;
    display: flex;
    gap: 40px;
    cursor: pointer;
}
.social-icon i{
   color: #ffffff;
   padding: 15px 24px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   background-color: #ffffff75;
}
.copy-right{
    color: #ffffffdc;
    margin: 50px 0;
}






