.food-display{
    margin-top: 30px;
}
.food-display h3{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: #ffeeee;
    font-weight: 500;
    font-family: "Oswald", cursive;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 40px;
    row-gap: 50px;
    margin: 0px 25px 0px 25px;
    margin: 30px;
}