.about {
    display: flex;
    padding: 80px;
    gap: 50px;
    margin: 100px 0;
    color: #f0eeee;
    background-color: #000;
  }
.about-img {
    width: 400px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 20px #fdf1f1;
}
.about-content {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h2 {
    font-size: 60px;
    font-family: "Oswald", cursive;
    margin-bottom: 20px;
}  
.about h4 {
    font-size: 24px;
    color: #fdbb2d;
    margin-bottom: 15px;
  }
  
.about p {
    font-size: 14px;
    line-height: 1.7;
}
  
.about em {
    display: block;
    margin-top: 20px;
    font-style: italic;
    color: #cccccc94;
}
.about .signature{
    width: 150px;
    margin-top: 40px;
}