.navbar{
    display: flex;
    flex-direction: column;
}
.profilee-icon{
    width: 30px;
    color: white;
}
.logo{
    width: 120px;
    display: block;
    margin: auto;
    padding: 20px 0;
}
.nav-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-menu{
    display: flex;
    gap: 50px;
    padding-right: 50px;
    cursor: pointer;
    margin-left: 400px;
    font-size: 18px;
}
.navbar-menu a {
    position: relative;
    color: #f0eeee;
}
.navbar-menu a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -4px; 
    background-color: #f0eeee;
    transition: width 0.3s ease;
}
.navbar-menu a:hover::after {
    width: 100%;
}
.navbar-menu a.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: #f0eeee;
}

.navbar-right{
    display: flex;
    gap: 50px;
    margin-left: 100px;
    align-items: center;
}
.navbar-right i{
    color: #f0eeee;
    font-size: 23px;
    cursor: pointer;
}
.navbar-right i:hover{
    color: #fff;
}
.navbar-right button{
    background-color: #f0eeee;
    border: 1px solid transparent; 
    outline: none;
    border-radius: 4px;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
}
.navbar-right button:hover{
    background: transparent;
    border: 1px solid #fff;
    color: #f0eeee;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-height: 11px;
    min-width: 11px;
    background-color: red;
    border: none;
    border-radius: 50%;
    top: -5px;
    right: 0;
}

.navbar-profile{
    position: relative;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 12px 25px;
    border-radius: 4px;
    border: 2px solid rgb(40, 53, 243);
    outline: 2px solid white;
    list-style: none;
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nav-profile-dropdown img{
    width: 20px;
}
.nav-profile-dropdown li:hover{
    color: rgb(71, 120, 255);
}
@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    } 
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    } 
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width:750px) { 
    .navbar-menu{
        display: none;
    }
}